
body {
    font: 14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    /* font: 11px verdana, arial, helvetica, sans-serif; */
    color: #333;
    background-color: white;
    margin: 50px 0px;
    padding: 0px; /* Need to set body margin and padding to get consistency between browsers. */
    text-align: center; /* Hack for IE5/Win */
}

h1 {
    color: #333;
    font: 1.8em/1 "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: 900;
}

.pageTitle {
    color: #333;
    font: 1.8em/1 Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    padding: 10px 0;
    width: 100%;
    border-bottom: solid 1px #333;
}

h2 {
    color: #333;
    font: 1.1em/1 "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: 700;
    margin: 2em 0 .25em;
}

h3 {
    color: #666;
    font-size: 1em;
    font-weight: 800;
    margin: 3em 0 .35em;
}

p {
    line-height: 1.8;
    margin: 0 0 1em;
}

#Content p+p {
    margin-top: -1em;
    text-indent: 2.7em;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.8;
}

#Content p+ol, #Content p+ul {
    margin-top: 0em;
}

a {
    color: #09c;
    text-decoration: none;
    font-weight: 600;
}

a:link {
    color: #09c;
}

a:visited {
    color: #07a;
}

a:hover {
    background-color: white;
}

#Footnotes p+p {
    margin-top: 0;
    text-indent: 0;
}

.keyPoint {
    margin: 0 0 1.5em;
    padding: 0;
    border: 1px dashed #666;
    background-color: white;
}

.keyPoint p {
    font: 1.63em/1.8 Georgia, "Times New Roman", Times, serif;
    margin: .5em 1em;
}

.keyPoint p+p {
    margin-top: -.5em;
}

.markup {
    font: 1em/1.25 monospace;
    border: 1px dashed #999;
    text-indent: 0 !important;
    padding: .3em;
}

#Content {
/*
    width: 500px;
    margin: 0px auto;
    text-align: left;
    padding: 15px;
    border: 1px dashed #333;
    background-color: #eee;
*/
    margin:0 auto;
    width:400px;
    padding:14px;
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
    z-index: 1;
    text-align: left;
}

.error {
    color: #C44;
    font-size: smaller;
}