div#Content
  div.pageTitle Login
  span.error {{errorMessage}}
  br
  br
  form(method="post",action="/login")
    label(for="username") Username
      span#usernameMsg.small Must be unique
    input(type="text",id="username",name="username",placeholder="Username",required, ng-model="loginInfo.username")
    br
    label(for="password") Password
      span#passwordMsg.small Min. size 6 chars
    input(type="password",id="password",name="password",placeholder="Password",required, ng-model="loginInfo.password")
    br
    label(for="rememberme") Remember Me
      span#password2Msg.small Lasts forever
    input(type="checkbox",id="rememberme",name="rememberme",value="yes",ng-model="loginInfo.rememberme")
    br
    div.buttonGroup
      input.button(type="button",id="loginButton", value="Login", ng-click="login()")
      div.spacer
    div.spacer