h1 Submission Detail

a(href="#/edit/{{curSubmission._id}}") Edit

br
br

div
  | User: {{ curSubmission.username }}

div
  | Title: {{ curSubmission.title }}

div
  | Location: {{ curSubmission.location }}

div
  | Description: {{ curSubmission.description }}

div
  | Tags: {{ curSubmission.tags }}