div#Content
  div.pageTitle Submission Detail

  - if (username !== undefined)
    a(href="#/edit/{{curSubmission._id}}") Edit

  br
  br

  div
    | User: {{ curSubmission.username }}

  div
    | Title: {{ curSubmission.title }}

  div
    | Location: {{ curSubmission.location }}

  div
    | Description: {{ curSubmission.description }}

  div
    | Tags: {{ curSubmission.tags }}

  br
  br

  h2 Appears In...

  ul
    li(ng-repeat="list in curSubmissionLists")
      a(href="/views/lists/index/{{list}}")
        {{list}}