link(rel='stylesheet', href='/stylesheets/jquery.tagsinput.css')
script(src='/javascripts/jquery.tagsinput.js')
script(src='/javascripts/submissionService.js')
script(src='/javascripts/submissionsModule.js')

h1 #{title}
div#Content
  <div ng-view />
