div
  | Filter:
  input(type="text",ng-model="submissionFilter")

  | Sort:
  select(ng-model="submissionOrder")
    option(value="title") Title
    option(value="_id") Post Date

br

ul
  li.icon-plus-sign
    a(href="#/new") New Submission
  li(ng-repeat="submission in submissions | filter:submissionFilter | orderBy:submissionOrder")
    a(href="#/submission/{{submission._id}}") {{submission.title}}
