!!!
- if (ngApp === undefined)
  <html>
- else if (ngApp === null)
  <html ng-app>
- else
  <html ng-app="#{ngApp}">

head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/menu_style.css')
  link(rel='stylesheet', href='/stylesheets/forms.css')
  link(rel='stylesheet', href='/stylesheets/submissions.css')
  script(src='/javascripts/angular.js')
  script(src='/javascripts/filters.js')
  script(src='/javascripts/directives.js')
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/underscore.js')
  script
    var baseDataUrl = "#{baseDataUrl}";
body

  - if (noMenu == false)
    include menus/topMenu

  != body

</html>