- var noMenu = noMenu ? noMenu : false;

!!!
html(ng-app="route")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menu_style.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
    link(rel='stylesheet', href='/stylesheets/submissions.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/filters.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/underscore.js')
  body

  - if (noMenu == false)
    include menus/topMenu

  != body
