div#menuOuter
  div.username
    - if (username !== undefined)
      a(href="/#{username}") #{username}
      a.logout(href='/logout') Logout
    - else
      a.logout(href='/login') Login
  div
    ul#menu
      li
        a(href="/") home
      li
        a(href="/submissions") submissions
      li
        a(href="/lists") lists
