div#menuOuter
  div.username
    - if (username !== null)
      span= 'logged in as ' + username
      a.logout(href='/logout') Logout
    - else
      a.logout(href='/login') Login
  div
    ul#menu
      li
        a(href="/") submissions
      li
        a(href="/views/lists") lists
