link(rel='stylesheet', href='/stylesheets/jquery.tagsinput.css')
script(src='/javascripts/jquery.tagsinput.js')
script(src='/javascripts/services/submissionService.js')
script(src="/views/submissions/edit/submissionEditCtrl.js")

div(ng-controller="SubmissionEditCtl")
  div#Content
    include header
    br
    br
    include submissionEditForm
    div.spacer
