fieldset
  label(for="username") Username
  div.formValue= username
  br
  label(for="title") Title
  input(id="title", name="title", type="text", placeholder="Title", ng-model="submission.title")
  br
  label(for="location") Location
  textarea(id="location", name="location", placeholder="Location", ng-model="submission.location")
  br
  label(for="description") Description
  textarea(id="description", name="description", placeholder="Description", ng-model="submission.description")
  br
  label(for="tags") Tags
    span#usernameMsg.small Click enter to add
  div
  input(id="tags", name="tags", type="text", placeholder="Tags", tags-input, on-enter="addTag")
  br
  div.formSubValue
    span Current tags:
    ul.currentTagList
      li(ng-repeat="tag in tagList")
        span
          a.deleteX(on-linkclick="deleteTag('{{tag}}')") x
          {{ tag }}
  br
  div.buttonGroup
    input.button(id="cancelButton", type="button", ng-click="cancelEdit()", value="Cancel")
    input.button(id="saveButton", type="button", ng-click="saveSubmission()", value="Save")
    div.spacer
