
script(src='/views/register/registerService.js')
script(src='/views/register/registerCtrl.js')

div(ng-controller="RegisterCtrl")
  div#Content
    include header
    br
    br
    include registrationForm
    div.spacer