
script(src='/views/submissions/submissionService.js')
script(src='/views/submissions/home/submissionHomeCtrl.js')

div(ng-controller="SubmissionHomeCtrl")
  div#Content
    include header
    br
    br
    include latest
    div.spacer

