div
  | Location:
  span#location
    {{curSubmission.location}}
div
  | Description:
  span#description
    {{curSubmission.description}}
div
  | Tags:
  span#tags
    {{curSubmission.tags}}
br
h2 Appears In...
ul
  li(ng-repeat="list in curSubmission.lists")
    span
      a(href="/lists/{{list}}") {{list}}
